name: Release

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          path: MythicPlusTimer
      - name: Resolve Release Version
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Create Addon
        run: |
          cd ../
          zip -r MythicPlusTimer_${{ env.RELEASE_VERSION }}.zip MythicPlusTimer -x MythicPlusTimer/*.git* MythicPlusTimer/README.md MythicPlusTimer/CHANGELOG
          mv MythicPlusTimer_${{ env.RELEASE_VERSION }}.zip MythicPlusTimer/MythicPlusTimer_${{ env.RELEASE_VERSION }}.zip
      - name: Create Release Changelog
        run: |
          awk -v version="6.5.0" '/# MythicPlusTimer / {printit = $3 == version}; printit;' CHANGELOG.md > RELEASE_CHANGELOG
          cat RELEASE_CHANGELOG
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "MythicPlusTimer_${{ env.RELEASE_VERSION }}.zip"
          bodyFile: "RELEASE_CHANGELOG"
          token: ${{ secrets.GITHUB_TOKEN }}
          name: MythicPlusTimer ${{ env.RELEASE_VERSION }}
